@mixin light
  color-scheme: light
  --color-ink: 0.2 0 0
  --color-ink-secondary: 0.6 0 0
  --color-ink-tertiary: 0.9 0 0
  --color-bg: 0.98 0 0

@mixin dark
  color-scheme: light
  --color-ink: 0.93 0 0
  --color-ink-secondary: 0.55 0 0
  --color-ink-tertiary: 0.3 0 0
  --color-bg: 0.23 0 0

:root
  @include light

.light
  @include light

.dark
  @include dark

@media (prefers-color-scheme: light)
  :root:not(.dark)
    @include light

@media (prefers-color-scheme: dark)
  :root:not(.light)
    @include dark
